$class-prefix: "sooo--video";
$max-9-z-index: 999999999;
$max-8-z-index: 88888888;
$max-7-z-index: 7777777;
$max-6-z-index: 666666;
$max-5-z-index: 55555;
$max-4-z-index: 4444;
$max-3-z-index: 333;
$max-2-z-index: 22;
$max-1-z-index: 1;
$max-0-z-index: 0;